body{
    background:url('../img/fondo.png');
    background-size: 100% 100%;
    background-position: center center;
    overflow: hidden !important;
}

.old{
    color: #000;
    text-decoration: none;
}